
.controls button {
  margin: var(--spacing-sm);
  padding: var(--spacing-sm) var(--spacing-md);
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: var(--radius-sm);
  background-color: var(--accent-color);
  color: var(--text-invert);
  transition: background-color 0.3s ease;
  border-radius:  var(--radius-sm);
}

.controls button:hover {
  background-color: var(--hover-color);
}

.hegemons-monitor {
    margin: var(--spacing-sm);
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius:  var(--radius-sm);
    font-size: 1rem;
    color: var(--text-invert);
    background-color: var(--accent-color);
    color: var(--text-invert);
    text-align: center;
}

.monitor-label {
    font-weight: bold;
    margin-bottom: var(--spacing-sm);
}

.monitor-value {
    background-color: var(--text-secondary);
    padding:  var(--spacing-sm) var(--spacing-md);
    border-radius: var(--radius-sm);
    color: var(--text-invert);
    font-size: 1.2rem;
}