.results{
  max-height: 40vh;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--accent-color) transparent;

  scrollbar-gutter: stable;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-lg);
  margin-block: var(--spacing-md);
  padding: var(--spacing-md);
}


.results output {
    width: 100%;
    min-height: 7rem;
    border-radius: var(--radius-md);
    background-color: var(--text-secondary);
    color: var(--text-invert);
    padding: var(--spacing-sm);
}