.world-map-container {
  margin: 0 auto;
  padding:  var(--spacing-sm) var(--spacing-md);
  font-family: system-ui, -apple-system, sans-serif;
}

.world-map-svg {
  width: 100%;
  min-width: 700px;
  height: auto;
  display: block;
  padding: var(--spacing-sm);
  border: 2px solid var(--border-light);
  border-radius: var(--radius-md);
  background-color: var(--backgroun-color-dark);
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.1);
  fill: var(--accent-color)
}

/* Responsive */
@media (max-width: 768px) {
  .world-map-container {
    padding: var(--spacing-sm);
  }

    .world-map-svg {
        width: 100%;
        min-width: unset;
    }
}
