.geopolitical-simulation {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--spacing-lg);
    min-height: 100vh;
    margin: 0 auto;
}

.world-map-container {
    width: 60%;
}
